@page "/culture/new1"
@using MycoMgmt.Domain.Models.Mushrooms
@using MycoMgmt.Web.Model
@using Newtonsoft.Json

<h2>Cultures</h2>

<button class="btn btn-primary btn-danger"><a style="color: white" href="/culture/list">Previous Page</a></button>
